///
///  Generate Block Grid
///

@import "mediaqueries";


// Mixin for block grids with gutters:
@mixin generateBlockGridGutters($blockGridValue) {

    display: flex;
    flex-flow: row wrap;
    margin: 0 (-$gutter/2);

    &>* {
        flex-basis: (100%/$blockGridValue);
        max-width: (100%/$blockGridValue);
        padding: 0 ($gutter/2) $gutter;
    }

}

// Mixin for block grids without gutters:
@mixin generateBlockGridGutterless($blockGridValue) {

    display: flex;
    flex-flow: row wrap;
    margin: 0;

    &>* {
        flex-basis: (100%/$blockGridValue);
        max-width: (100%/$blockGridValue);
    }

}

// Output prototyping block grid classes:
@mixin outputPrototypingBlockGridClasses {

    // Guttered:
    @for $i from 1 through $grid-columns {
        .block-grid-#{$i} {
            @include mq(small) { @include generateBlockGridGutters(2); }
            @include mq(medium) { @include generateBlockGridGutters($i); }
        }
    }

    // Gutterless:
    @for $i from 1 through $grid-columns {
        .block-grid-#{$i}-gutterless {
            @include mq(small) { @include generateBlockGridGutterless(2); }
            @include mq(medium) { @include generateBlockGridGutterless($i); }
        }
    }

}