// Container.scss
// ------------------------------------
// Constrains content to a max-width & centers horizontally
//

.container {
  position: relative;
  margin: 0 auto;
  max-width: 85%;

  
  @include mq(md) {
    margin: 0 auto;
    max-width: 80%; //600px;
    width: 80%; //600px;

    .container.is-fluid {
      margin: 0 20px;
      max-width: none;
      width: auto;
    }
  }

  @include mq(lg) {
    max-width: 80%; //880px;
    width: 80%; //880px;
  }

  @include mq(xl) {
    max-width: 1000px;
    width: 1000px;
  }

}