///
///  Grid Helpers
///


// ----------------------------------------------
// GRID SPECIFIC
// ----------------------------------------------

// Horizontal Alignment:
.grid--gutterless {
    margin: 0;
    > [class*="col"]{
        padding: 0;
    }
}

@mixin gridCentered {
    justify-content: center;
}
.grid--centered {
    @include gridCentered;
}

@mixin gridRight {
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
}
.grid--right {
    @include gridRight;
}

// Vertical Alignment:
@mixin gridTop {
    align-items: flex-start;
}
.grid--top {
    @include gridTop;
}

@mixin gridMiddle {
    align-items: center;
}
.grid--middle {
    @include gridMiddle;
}

@mixin gridBottom {
    align-items: flex-end;
}
.grid--bottom {
    @include gridBottom;
}

// Orders
@mixin gridReverse {
    // flex-direction: row-reverse!important;
    flex-direction: row-reverse;
}
.grid--reverse {
    @include gridReverse;
}

@mixin gridColumn {}
.grid--column {
    flex-direction: column;
    > [class*="col-"] {
      flex-basis: auto;
    }
}

@mixin gridColumnReverse {
    flex-direction: column-reverse;
}
.grid--column-reverse {
    @include gridColumnReverse;
}

// Spaces between and around cols
@mixin gridSpaceBetween {
    justify-content: space-between;
}
.grid--spaceBetween {
    @include gridSpaceBetween;
}

@mixin gridSpaceAround {
    justify-content: space-around;
}
.grid--spaceAround {
    @include gridSpaceAround;
}

// Equal heights columns
@mixin gridEqualHeight {}
.grid--equalHeight > [class*="col"]{
    display: flex;
}

// Removes the padding-bottom
@mixin gridNobottomPadding {}
.grid--noBottom > [class*="col"]{
    padding-bottom: 0;
}




// ----------------------------------------------
// COLUMN SPECIFIC
// ----------------------------------------------

@mixin columnTop {
    align-self: flex-start;
}
@mixin columnMiddle {
    align-self: center;
}
@mixin columnBottom {
    align-self: flex-end;
}
@mixin columnFirst {
      order: -1;
}
@mixin columnLast {
      order: 1;
}

.column--top {
    @include columnTop
}
.column--middle {
    @include columnMiddle;
}
.column--bottom{
    @include columnBottom;
}
.column--first {
      @include columnFirst;
}
.column--last {
      @include columnLast;
}