//************************
//    VARIABLES
//************************
$gutter:    16px !default;
$grid-columns: 12 !default;
$block-grid-columns: 3 !default;
$container-width: 90% !default;

// Breakpoints:
$breakpoints: (
    small: 0px,
    medium: 640px,
    large: 1024px,
    xlarge: 1440px
);