///
///  Grid Helpers
///


// ----------------------------------------------
// GRID SPECIFIC
// ----------------------------------------------

// Horizontal Alignment:
.grid--gutterless {
    margin: 0;
    > [class*="col"]{
        padding: 0;
    }
}

@mixin gridCentered {
    justify-content: center;
}

@mixin gridRight {
    justify-content: flex-end;
    align-self: flex-end;
    margin-left: auto;
}



// Vertical Alignment:
@mixin gridTop {
    align-items: flex-start;
}

@mixin gridMiddle {
    align-items: center;
}

@mixin gridBottom {
    align-items: flex-end;
}

// Orders
@mixin gridReverse {
    flex-direction: row-reverse;
}

@mixin gridColumn {}
.grid--column {
    flex-direction: column;
    > [class*="col-"] {
      flex-basis: auto;
    }
}

@mixin gridColumnReverse {
    flex-direction: column-reverse;
}


// Spaces between and around cols
@mixin gridSpaceBetween {
    justify-content: space-between;
}


@mixin gridSpaceAround {
    justify-content: space-around;
}

// Equal heights columns
@mixin gridEqualHeight {}
.grid--equalHeight > [class*="col"]{
    display: flex;
}

// Removes the padding-bottom
@mixin gridNobottomPadding {}
.grid--noBottom > [class*="col"]{
    padding-bottom: 0;
}




// ----------------------------------------------
// COLUMN SPECIFIC
// ----------------------------------------------

@mixin columnTop {
    align-self: flex-start;
}
@mixin columnMiddle {
    align-self: center;
}
@mixin columnBottom {
    align-self: flex-end;
}
@mixin columnFirst {
      order: -1;
}
@mixin columnLast {
      order: 1;
}



// ----------------------------------------------
// GENERATE CLASSES FOR FAST PROTOTYPING
// ----------------------------------------------
@mixin outputPrototypingHelperClasses {
    // Grid Alignment
    .grid--centered { @include gridCentered; }
    .grid--right {  @include gridRight; }

    // Vertical Alignment
    .grid--top { @include gridTop; }
    .grid--middle { @include gridMiddle; }
    .grid--bottom {  @include gridBottom; }

    // Ordering
    .grid--reverse { @include gridReverse; }
    .grid--column-reverse { @include gridColumnReverse; }

    // Spacing
    .grid--spaceBetween { @include gridSpaceBetween; }
    .grid--spaceAround { @include gridSpaceAround; }



    // Column Specific
    .column--top { @include columnTop; }
    .column--middle { @include columnMiddle; }
    .column--bottom{ @include columnBottom; }
    .column--first { @include columnFirst; }
    .column--last { @include columnLast; }
}