///
/// Grid.scss
///

// Main wrapper for whole page:
@mixin gridFrame {
    height: 100vh;
    display: flex;
    flex-flow: column;
}


// Block Container, conceptually similar to a row
@mixin gridBlock {
    display: flex;
    height: auto;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    flex: 1 1 auto;
    flex-flow: row wrap;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    order: 0;
    overflow-y: auto;

    // Inertia Scrolling for webkit/ms mobile browsers:
    @include inertiaScroll;
}


// Horizontally centered container, constrains to width
@mixin container {
    margin: 0 auto;
    max-width: $container-width;
}

// Auto Grid (guttered):
@mixin autoGridGutters {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    margin: 0 (-$gutter/2);

    &>* {
        // flex: 1 1 0%;
        flex: auto;
        padding: 0 ($gutter/2) $gutter;
    }
}

// Auto Grid Gutterless:
@mixin autoGridGutterless {
    display: flex;
    flex-flow: row wrap;
    margin: 0;

    &>* {
        flex: 1 1 0%;
        padding: 0;
    }
}

// Numbered Grid:
@mixin gridNumbered {
    display: flex;
    flex-flow: row wrap;
    margin: 0 (-$gutter/2);

    &>* {
        flex: 0 0 auto;
        padding: 0 ($gutter/2) $gutter;
    }
}



// Numbered Columns
@mixin numberedColumn($columnWidth) {

    flex-basis: $grid-columns;
    width: $columnWidth / $grid-columns * 100%;

}


// Inertia scrolling for mobile browsers
@mixin inertiaScroll {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}