
$breakpoints: (
    small: 0px,
    medium: 640px,
    large: 1024px,
    xlarge: 1440px
) !default;


@mixin mq($breakpoint) {

    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    @else {
        @warn "The `#{$breakpoint}` breakpoint dosent exist in the breakpoints map! "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }

}

/*
// Example Usage:
.content
{
    @include mq(small)
    {
        width: 100%;
    }

    @include mq(medium)
    {
        width: 50%;
    }
}
 */