///
///  Grid Helpers
///


// COLUMN SPECIFIC
// ----------------------------------------------

// Vertical Alignment:
// ----------------------------------------------
// Align to top, middle or bottom
//

.valign-top {
    align-self: flex-start;
}
.valign-middle {
    align-self: center;
}
.valign-bottom {
    align-self: flex-end;
}